body {
  color: white;
  background-color: #121212;
}

::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: red;
  color: #fff;
  text-shadow: none;
}

hr {
  border-top:2px solid var(--darkMaincolor);
}
code {
  background-color: lightblue;
  color: black;
  padding: 0.1em 0.2em;
}
pre {
  background-color: #272822;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}
blockquote {
  border-color: blue;
}

h1{
  font-size: 2em;
  font-weight: bolder;
}
h2,
h3,
h4,
h5,
h6 {
  color: #ddd;
}
h1::before {
  color: var(--darkMaincolor);
  content: "# ";
}
h2::before {
  color: var(--darkMaincolor);
  content: "## ";
}
h3::before {
  color: var(--darkMaincolor);
  content: "### ";
}
h4::before {
  color: var(--darkMaincolor);
  content: "#### ";
}
h5::before {
  color: var(--darkMaincolor);
  content: "##### ";
}
h6::before {
  color: var(--darkMaincolor);
  content: "###### ";
}

a {
  /* border-bottom: 3px solid orange; */
  color: orange;
}
a:hover {
  background-color: orange;
  color: black;
}

.site-description a {
  color: #ddd;
}
.site-description a:hover {
  color: black;
}

.tags a {
  border-bottom: 3px solid var(--darkMaincolor);
}
.tags a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

.site-title a {
  color: white;
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

.highlight {
  background-color: #333;
}
.soc:hover {
  color: black;
}
.draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}
